@inject HttpClient Http

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Folder" bind="@folder" />
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="@UpdateFiles">Load</button>
    </div>
</div>

<div>@error</div>

<ul class="list-group">
    @foreach (var file in files)
    {
        <li class="list-group-item">@file.Kind, @file.Path</li>
    }
</ul>

@functions{
    [Parameter]
    private string ApiUrl { get; set; }

    File[] files = new File[0];

    private string folder { get; set; }
    private string error { get; set; } = string.Empty;

    async void UpdateFiles()
    {
        var requestParmeter = new RequestParameter("Directory", HttpUtility.HtmlEncode(folder));
        var requestUrl = new RequestUrl(ApiUrl, "files.json", new[] { requestParmeter });

        var responseString = await Http.GetStringAsync(requestUrl.ToString());
        var response = FilesRequestResponse.FromJson(responseString);

        if (response.ErrorMessage != null)
        {
            error = response.ErrorMessage;
            files = new File[0];
        }
        else
        {
            error = string.Empty;
            files = response.Files;
        }
    }
}
